<% layout('/_layouts/layoutInner') -%>

<h3>Are you sure you want to start Worker <?= formData.name ?>?</h3>

<% include ../../_helpers/forms/formOpen %>
<% include ../../_helpers/forms/formErrors %>
<p><%
var text = 'Start', glyph = 'cog', mode = 'primary';
%><% include ../../_helpers/buttonSubmit %><%
var url = './', text = 'Cancel', glyph = 'remove', mode = 'warning';
%> <% include ../../_helpers/buttonLink %></p>
</form>
