<% include ../_defaultNamespace/index.build.ejs -%>

<div class="jumbotron">
  <p><div><a href="users/">Users</a></div>
    <div><a href="roles/">Roles</a></div>
    <div><a href="permissions/">Permissions</a></div></p>
  <p><div><a href="servers/">Servers</a></div>
    <div><a href="workers/">Workers</a></div>
    <div><a href="processes/">Processes</a></div></p>
</div>