<% include ../_defaultNamespace/index.build.ejs -%>

<div class="jumbotron">
  <h2>Database commands</h2>
  <p><div><a href="select">Select</a></div>
    <div><a href="insert">Insert</a></div>
    <div><a href="update">Update</a></div>
    <div><a href="delete">Delete</a></div></p>
</div>
