<% layout('/_layouts/layoutInner') -%>
<?
var items = data[<%- _.quote(route.model.namePlural) %>],
	dataJoinedName = <%- _.quote(route.targetModel.name) %>;
?>

<% include ../_helpers/itemsJoinTable %>

<%
var url = 'new', text = 'Add', glyph = 'plus', mode;
%><p><% include ../_helpers/buttonLink %></p>
