body {
	padding-top: 70px;
	padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
	position: static;
	display: block;
	margin-bottom: 20px;
}

.theme-showcase > p > .btn {
	margin: 5px 0;
}

.glyph-lg {
	font-size: 18px;
}

.item-table-filters TD INPUT {
	height:30px;padding:5px 10px;font-size:12px;line-height:1.5;border-radius:3px
}

.right {
	text-align: right;
}

.middle {
	vertical-align: middle;
}

.bottom {
	vertical-align: bottom;
}
