<% layout('/_layouts/layoutInner') -%>
<?
var item = data[<%- _.quote(route.model.name) %>];
?>

<%
var modelName = 'user', action = ''; %>
<p>Created by <?
var id = item.createdBy.id, name = item.createdBy.name;
?><% include ../../_helpers/modelLink %> on <?= displayers.date(item.createdAt) ?><?
if (item.updatedAt.toString() != item.createdAt.toString()) {
?>, last updated by <?
	var id = item.updatedBy.id, name = item.updatedBy.name;
?><% include ../../_helpers/modelLink %> on <?= displayers.date(item.updatedAt) ?><?
}
?></p>

<% include ../../_helpers/itemView %>

<p><%
var url = 'edit', text = 'Edit', glyph = 'pencil';
%><% include ../../_helpers/buttonLink %>
<%
var url = 'password', text = 'Change Password', glyph = 'edit', mode = 'warning';
%><% include ../../_helpers/buttonLink %>
<%
var url = 'delete', text = 'Delete', glyph = 'trash', mode = 'danger';
%>  <% include ../../_helpers/buttonLink %></p>