<% layout('/_layouts/layout') -%>

<h1>Error</h1>
<?
(function() {
	var title = 'Error', text = 'This error has been logged and will be investigated.';
	?><% include ../_helpers/errorBox %>
<?
})();
?>
