<%
// receives (items, fields)
%><% include ../_helpers/itemsTableHead %>
<?
_.forEach(items, function(item) {
	var id = item[dataJoinedName].id;
?>      <tr>
        <td><%
var modelName = route.model.name, action = 'edit', glyph = 'pencil', mode = 'warning';
%><% //include ../_helpers/modelButtonGlyphLink %> <%
action = 'delete', glyph = 'trash', mode = 'danger';
%><% include ../_helpers/modelButtonGlyphLink %></td>
<%
_.forIn(fields, function(field, fieldName) {
%>        <td><% include ./itemField %></td>
<%
});
%>      </tr>
<?
});
?>
<% include ../_helpers/itemsTableFoot %>
