<%
// receives (overlook, fields)
%><table class="table table-condensed">
<%
_.forIn(fields, function(field, fieldName) {
%>  <tr><td class="col-md-2"><%= field.label %>:</b></td><td><% include ./itemField %></td></tr>
<%
});
%></table>