<?
_.forEach(items, function(item) {
    var id = item.id;
?>      <tr>
        <td><%
var modelName = route.model.name, action = '', glyph = 'eye-open', mode = '';
%><% include ../_helpers/modelButtonGlyphLink %> <%
action = 'edit', glyph = 'pencil', mode = 'warning';
%><% include ../_helpers/modelButtonGlyphLink %> <%
action = 'delete', glyph = 'trash', mode = 'danger';
%><% include ../_helpers/modelButtonGlyphLink %></td>
<%
_.forIn(fields, function(field, fieldName) {
%>        <td><% include ./itemField %></td>
<%
});
%>      </tr>
<?
});
?>