<%
// receives (title)
script('/js/overlook/panelCollapse.js');
stylesheet('/css/overlook/css/panelCollapse.css');
%><div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><?= title ?></h3>
    <span class="pull-right panel-collapse-button"><i class="glyphicon glyphicon-chevron-up"></i></span>
  </div>
  <div class="panel-body">
