<% layout('/_layouts/layoutInner') -%>

<p><% include ./_helpers/forms/form %></p>

<p><b>Having trouble logging in?</b><br />
<%
{
	let url = '/resetpassword', text = 'Email me a new password', glyph = 'envelope', mode = 'warning';
%>  <% include ./_helpers/buttonLink %><% } %></p>
